<div data-controller="forms" class="contents">
  <%= form_with(model: [:admin, import_source], url: import_source.events.length > 0 ? nil : admin_import_sources_preview_path, class: "contents", method: import_source.events.length > 0 ? nil : :post, data: {forms_target: "form"}) do |form| %>
    <% if import_source %>
      <%= hidden_field_tag :id, import_source.id %>
    <% end %>
    
    <% if import_source.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(import_source.errors.count, "error") %> prohibited this import_source from being saved:</h2>

        <ul>
          <% import_source.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label :url %>
      <%= form.text_field :url, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full #{import_source.url.present? ? 'bg-gray-100' : ''}", readonly: import_source.url.present? %>
    </div>

    <% if import_source.url.present? %>
      <div class="my-5 flex gap-5 flex-col md:flex-row">
        <div class="flex-1">
          <%= form.label :sport_id %>
          <%= form.collection_select :sport_id, Sport.includes(:teams).where(teams: {id: @current_school.team_ids}).order(:name), :id, :name, {include_blank: '-- Automatically Detect --'}, {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", data: { action: "change->forms#submit" }} %>
        </div>

        <div class="flex-1">
          <%= form.label :level_id %>
          <%= form.collection_select :level_id, Level.includes(:teams).where(teams: {id: @current_school.team_ids}), :id, :name, {include_blank: '-- Automatically Detect --'}, {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", data: { action: "change->forms#submit" }} %>
        </div>

        <div class="flex-1">
          <%= form.label :gender_id %>
          <%= form.collection_select :gender_id, Gender.includes(:teams).where(teams: {id: @current_school.team_ids}), :id, :name, {include_blank: '-- Automatically Detect --'}, {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", data: { action: "change->forms#submit" }} %>
        </div>
      </div>

      <div class="my-5">
        <%= form.label :name %>
        <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5">
        <%= form.label :frequency_hours, "Import frequency (hours)" %>
        <%= form.number_field :frequency_hours, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <% events = import_source.events.select{ |event| !event.persisted? } %>
      <% if events.length > 0 %>
        <div class="rounded-md shadow bg-white mb-4">
          <h2 class="text-lg px-4 py-2 font-bold border-b border-gray-100">Events Preview</h2>
          <ul role="list" class="divide-y divide-gray-100">
            <% events.each do |event| %>
              <%= render "admin/events/event", event: event %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="inline">
        <%= form.submit "Import", class: "rounded-lg py-3 px-5 bg-primary text-white inline-block font-medium cursor-pointer" %>
      </div>
    <% else %>
      <div class="inline">
        <%= form.submit "Preview", class: "rounded-lg py-3 px-5 bg-primary text-white inline-block font-medium cursor-pointer" %>
      </div>
    <% end %>
  <% end %>
</div>