<<%= action_name == "show" ? 'div' : 'a' %> id="<%= dom_id import_source %>" class="bg-white rounded shadow p-6 flex flex-col gap-4" href="<%= url_for [:admin, import_source] %>">
  <h2 class="text-lg font-bold"><%= import_source.name %></h2>

  <p>Imports events <b>every <%= pluralize(import_source.frequency_hours, 'Hour') %></b> from <b><%= URI(import_source.url).host %></b></p>

  <div class="flex items-center gap-2 text-xs">
    <div class="text-left flex-1">
      <p class="text-gray-500">Sport</p>
      <p class="font-medium"><%= import_source.sport ? import_source.sport : 'Auto' %></p>
    </div>

    <div class="text-left flex-1">
      <p class="text-gray-500">Level</p>
      <p class="font-medium"><%= import_source.level ? import_source.level : 'Auto' %></p>
    </div>

    <div class="text-left flex-1">
      <p class="text-gray-500">Gender</p>
      <p class="font-medium"><%= import_source.gender ? import_source.gender : 'Auto' %></p>
    </div>
  </div>

  <p class="text-xs text-gray-500">
    <%= import_source.last_import_time ? "Last Imported on #{import_source.last_import_time.in_time_zone(@current_school.timezone).strftime('%D at %l:%M %p %Z')}" : 'Import Running Now' %>
  </p>
</<%= action_name == "show" ? 'div' : 'a' %>>
