<div id="<%= dom_id import_source %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= import_source.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= import_source.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sport:</strong>
    <%= import_source.sport_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= import_source.gender_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level:</strong>
    <%= import_source.level_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this import source", [:admin, import_source], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this import source', edit_admin_import_source_path(import_source), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
