<li id="<%= dom_id school %>">
  <a href="<%= admin_school_path school %>" class="flex justify-between items-center gap-x-6 py-5">
    <div class="flex min-w-0 gap-x-4 items-center">
      <div class="p-2 flex-none bg-white rounded">
        <img class="h-12 w-12" src="<%= school.logo_url %>" alt="">
      </div>
      <div class="min-w-0 flex-auto">
        <p class="text-sm font-semibold leading-6 text-gray-900"><%= school.name %></p>
        <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= school.location %></p>
      </div>
    </div>
    <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
      <p class="text-sm leading-6 text-gray-900"><%= school.athletic_director %></p>
      <p class="mt-1 text-xs leading-5 text-gray-500"><%= pluralize(school.teams.length, "Team") %></p>
    </div>
  </a>
</li>